# This file is used to define code ownership.
# It will automatically request reviews from the owners when a file is changed.

*       @HardwareTestPro/maintainers

# Frontend
/app/    @HardwareTestPro/frontend
/components/ @HardwareTestPro/frontend

# Backend/API
/api/    @HardwareTestPro/backend
