@import "tailwindcss";

@theme {
  --color-primary: #0d93f2;
  --color-background-light: #f5f7f8;
  --color-background-dark: #101b22;
  --font-display: var(--font-space-grotesk);
}

:root {
  --background: var(--color-background-light);
  --foreground: #1f2937; /* text-gray-800 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-background-dark);
    --foreground: #e5e7eb; /* text-gray-200 */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-display), sans-serif;
}
